* {
  background: rgba(23, 26, 38, 1);
}

#sale {
  display: flex;
  overflow-x: auto;
}

#sale > .offerPanel {
  margin: 5px 10px 5px 10px;
}

body {
  margin-top: 150px;
}

#package {
  text-align: center;
  color: white;
}

.defaultButton {
  background-color: rgb(227,242,94);
  font-weight: bold;
  height: 50px;
  width: fit-content;
  border: 3px solid #9ea844;
  border-radius: 25px;
}

.defaultButton:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.whiteText {
    color: white;
}
