#mainCart {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.offerContainer {
    display: flex;
    background-color: #39405c;
    padding: 8px 20px 8px 8px;
    border: solid #2a2f42;
    border-width: 0 5px 5px 0;
    border-radius: 15px;
    width: fit-content;
    margin: 15px;
}

.offerContainer > img {
    height: 250px;
    border-radius: 15px;
    border: 2px solid #2a2f42;
    box-shadow: 0px 5px 3px #2a2f42;
    border-width: 0 4px 4px 0;
    margin: 0 20px 0 0;
}

.offerDesc {
    background-color: transparent;
    text-align: center;
    font-weight: bold;
}

.offerDesc > span {
    font-weight: bold;
    display: block;
    color: whitesmoke;
    background: rgb(227,242,94);
    background: radial-gradient(circle, rgba(227,242,94,1) 0%, rgba(38,41,53,1) 0%, rgba(38,41,53,1) 50%,rgb(23, 25, 37) 100%); 
    margin: 9px auto 9px auto;
    border: 2px solid #1a1e2b;
    outline: 2px solid black;
    outline-offset: 1px;
    border-radius: 5px;
}

.offerDesc > .quantityButton {
    background-color: transparent;
}

.quantityButton {
    display: flex;
    margin-top: 150px;
}

.quantityButton > div {
    color: white;
    background-color: rgba(23, 26, 38, 1);
    border: 3px solid #9ea844;
    border-radius: 25px;
    margin: 0 15px 0 15px;
    width: 100px;
    height: 50px;
}

.quantityButton > button {
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.quantityButton > button:first-of-type {
    background-color: rgb(165, 33, 33);
    border: 2px solid rgb(119, 17, 17);
}

.quantityButton > button:last-of-type {
    background-color: rgb(98, 173, 23);
    border: 2px solid rgb(79, 136, 21);
}

#cartContainer {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px 10px 100px;
}

#cartLeft {
    max-height: 750px;
    overflow-y: auto;
}

#cartLeft > h2 {
    color: white;
}

#cartHotel {
    background-color: #e3f25e;
    outline: 2px solid #9ea844;
    outline-offset: 2px;
    width: 350px;
    height: fit-content;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin-top: 15px;
}

#cartRight > #cartHotel > span {
    background-color: transparent;
    color: black;
    font-weight: bold;
}

#cartHotel > a > button {
    color: white;
    font-weight: bold;
    background-color: rgba(38,41,53,1);
    border: 3px solid rgba(23, 26, 38, 1);
    border-radius: 25px;
    margin: 10px 15px 0 15px;
    width: 100px;
    height: 50px;
}

#cartFinish {
    display: flex;
    justify-content: space-between;
    background-color: #e3f25e;
    align-items: center;
    outline: 2px solid #9ea844;
    outline-offset: 2px;
    width: 350px;
    height: fit-content;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin-top: 30px;
}

#cartFinish > span {
    background-color: transparent;
    font-weight: bold;
}

#cartFinish > a > button {
    color: white;
    font-weight: bold;
    background-color: rgb(98, 173, 23);
    border: 2px solid rgb(79, 136, 21);
    border-radius: 25px;
    margin: 10px 15px 0 15px;
    width: 100px;
    height: 50px;
}

a {
    background-color: transparent;
}

button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}
