#mainHeader {
    align-items: center;
    background-color: #e3f25e;
    border: 5px solid #9ea844;
    border-width: 0px 0px 5px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 5px 3px #11131c;
    display: grid;
    position: fixed;
    top: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    margin-bottom: 150px;
    padding: 10px;
    justify-content: space-between;
    text-align: center;
    z-index: 2;
}

#mainContainer {
    width: calc(100vw - 40px);
    text-align: center;
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

#logo {
    background-color: transparent;
    display: block;
    filter: drop-shadow(10px 5px 5px rgb(236, 247, 143));
    height: 150px;
    scale: 70%;
    text-align: left;
    width: auto;
}

#mainContainer > #headTitle {
    background-color: transparent;
    border: 4px solid #171a26;
    border-radius: 10px;
    color: #171a26;
    font-size: 2.5em;
    padding: 0px 10px 0px 10px;
}

#cornerLinks {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    text-align: right;
    margin: 0px 20px 0px 10px;
}

#cornerLinks > a, #mainContainer > a {
    background-color: transparent;
}

.cornerImg {
    padding: 5px;
    background-color: transparent;
    display: flex;
    height: 50px;
    justify-content: space-around;
}

@media (max-width: 800px) {
    nav > #navLogo{
        visibility: hidden;
    }
    nav > #navTitle{
        grid-column: 1 / 2;
        grid-row: 1;
    }
}