.defaultBox > fieldset > .innerBox {
    display: flex;
    background-color: transparent;
  }
  
  .defaultBox > fieldset > .innerBox > .defaultSubBox {
    margin: 10px;
  }

  #fly {
    background-color: transparent;
  }

  #hotel {
    background-color: transparent;
  }

  #total {
    border-radius: 15px;
  }

  .dataContainer {
    display: block;
    background-color: transparent;
    justify-content: space-between;
  }

  .dataContainer > .defaultSubBox {
      margin: 25px 5px 25px 5px;
    }

 .payOfferContainer {
    margin: auto;
  }
