#paymentContainer {
    display: flex;
    justify-content: space-between;
    margin: 15px 80px 15px 80px;
}

.payOfferContainer {
    display: flex;
    background-color: #e3f25e;
    outline: 2px solid #9ea844;
    outline-offset: 2px;
    width: 200px; 
    padding: 20px;
    border-radius: 25px;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px; 
  }

.payOfferContainer > span {
    color: black;
    background-color: transparent;
    font-weight: bold;
}

#finishButton {
    color: white;
    font-weight: bold;
    background-color: rgb(98, 173, 23);
    border: 2px solid rgb(79, 136, 21);
    border-radius: 25px;
    margin: 10px 15px 0 15px;
    width: 100px;
    height: 50px;
}

#finishButton:hover {
    filter: brightness(1.2);
    cursor: pointer;
}
