.centerBox {
    background-color: transparent;
}

.centerBox > .defaultSubBox {
    margin: 20px auto 10px auto;
}

.centerBox > span {
    background-color: transparent;
}

.defaultBox > fieldset {
    padding: 20px 40px 20px 40px;
}

#singupGrid {
    display: flex;
    justify-content: space-between;
    margin: 100px;
    padding: auto;
}

#singupRight {
    width: 50%;
    box-shadow: 10px 15px #11131c;
    padding: 15px;
    background-color: #222638;
    border-radius: 15px;
    border: 2px solid #9ea844; 
    outline: 5px solid #e3f25e;
    outline-offset: 5px;
}

#singupRight > p, #singupRight > p > strong{
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #222638;
}

#singupRight > h1 {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #222638;
    border-radius: 15px;
}